In [105]:
import pandas as pd

In [106]:
df = pd.read_csv("F:\DATA SCIENCE\practice\Car details v3.csv.xls")
df.drop(["name", "torque"], axis = 1, inplace = True)
df.head()

,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
0,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,5.0
1,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,5.0
2,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,5.0
3,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,5.0
4,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,5.0

In [107]:
df.shape

(8128, 11)

In [108]:
df.owner.unique()

array(['First Owner', 'Second Owner', 'Third Owner',
       'Fourth & Above Owner', 'Test Drive Car'], dtype=object)

In [109]:
df = df[df.owner != "Fourth & Above Owner" ]
df.owner.unique()

array(['First Owner', 'Second Owner', 'Third Owner', 'Test Drive Car'],
      dtype=object)

In [110]:
df.isnull().sum()

year               0
selling_price      0
km_driven          0
fuel               0
seller_type        0
transmission       0
owner              0
mileage          207
engine           207
max_power        201
seats            207
dtype: int64

In [111]:
df = df[~df.mileage.isnull()]
df

,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
0,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,5.0
1,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,5.0
2,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,5.0
3,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,5.0
4,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,5.0
...,...,...,...,...,...,...,...,...,...,...,...
8122,2014,475000,80000,Diesel,Individual,Manual,Second Owner,22.54 kmpl,1396 CC,88.73 bhp,5.0
8123,2013,320000,110000,Petrol,Individual,Manual,First Owner,18.5 kmpl,1197 CC,82.85 bhp,5.0
8125,2009,382000,120000,Diesel,Individual,Manual,First Owner,19.3 kmpl,1248 CC,73.9 bhp,5.0
8126,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57 kmpl,1396 CC,70 bhp,5.0
8127,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57 kmpl,1396 CC,70 bhp,5.0

In [112]:
df.isnull().sum()

year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
mileage          0
engine           0
max_power        0
seats            0
dtype: int64

In [113]:
df.owner.unique()

array(['First Owner', 'Second Owner', 'Third Owner', 'Test Drive Car'],
      dtype=object)

In [114]:
df.seller_type.unique()

array(['Individual', 'Dealer', 'Trustmark Dealer'], dtype=object)

In [115]:
df["fuel"] = df.fuel.replace("LPG", "CNG")
df.fuel.unique()

array(['Diesel', 'Petrol', 'CNG'], dtype=object)

In [116]:
l = []
for i in df.year:
    a = 2023 - i
    l.append(a)

In [117]:
df["year"] = l
df.head()

,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
0,9,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,5.0
1,9,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,5.0
2,17,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,5.0
3,13,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,5.0
4,16,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,5.0

In [118]:
l1 = []
for i in df.mileage:
    b = float(i.split(" ")[0])
    l1.append(b)

In [119]:
df["mileage_kmpl"] = l1

In [120]:
l2 = []
for i in df.engine:
    c = float(i.split(" ")[0])
    l2.append(c)

In [121]:
df["engine_CC"] = l2

In [122]:
df.head()

,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats,mileage_kmpl,engine_CC
0,9,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,5.0,23.40,1248.0
1,9,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,5.0,21.14,1498.0
2,17,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,5.0,17.70,1497.0
3,13,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,5.0,23.00,1396.0
4,16,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,5.0,16.10,1298.0

In [123]:
df.drop(["engine", "mileage"], axis = 1, inplace = True)

In [124]:
df.head()

,year,selling_price,km_driven,fuel,seller_type,transmission,owner,max_power,seats,mileage_kmpl,engine_CC
0,9,450000,145500,Diesel,Individual,Manual,First Owner,74 bhp,5.0,23.40,1248.0
1,9,370000,120000,Diesel,Individual,Manual,Second Owner,103.52 bhp,5.0,21.14,1498.0
2,17,158000,140000,Petrol,Individual,Manual,Third Owner,78 bhp,5.0,17.70,1497.0
3,13,225000,127000,Diesel,Individual,Manual,First Owner,90 bhp,5.0,23.00,1396.0
4,16,130000,120000,Petrol,Individual,Manual,First Owner,88.2 bhp,5.0,16.10,1298.0

In [125]:
l3 = []
for i in df.max_power:
    d = pd.to_numeric(i.split(" ")[0])
    l3.append(d)

In [126]:
df["max_power_bhp"] = (l3)

In [127]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7747 entries, 0 to 8127
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year           7747 non-null   int64
 1   selling_price  7747 non-null   int64
 2   km_driven      7747 non-null   int64
 3   fuel           7747 non-null   object
 4   seller_type    7747 non-null   object
 5   transmission   7747 non-null   object
 6   owner          7747 non-null   object
 7   max_power      7747 non-null   object
 8   seats          7747 non-null   float64
 9   mileage_kmpl   7747 non-null   float64
 10  engine_CC      7747 non-null   float64
 11  max_power_bhp  7746 non-null   float64
dtypes: float64(4), int64(3), object(5)
memory usage: 786.8+ KB

In [128]:
df.drop("max_power", axis = 1, inplace = True)
df.head()

,year,selling_price,km_driven,fuel,seller_type,transmission,owner,seats,mileage_kmpl,engine_CC,max_power_bhp
0,9,450000,145500,Diesel,Individual,Manual,First Owner,5.0,23.40,1248.0,74.00
1,9,370000,120000,Diesel,Individual,Manual,Second Owner,5.0,21.14,1498.0,103.52
2,17,158000,140000,Petrol,Individual,Manual,Third Owner,5.0,17.70,1497.0,78.00
3,13,225000,127000,Diesel,Individual,Manual,First Owner,5.0,23.00,1396.0,90.00
4,16,130000,120000,Petrol,Individual,Manual,First Owner,5.0,16.10,1298.0,88.20

In [129]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7747 entries, 0 to 8127
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year           7747 non-null   int64
 1   selling_price  7747 non-null   int64
 2   km_driven      7747 non-null   int64
 3   fuel           7747 non-null   object
 4   seller_type    7747 non-null   object
 5   transmission   7747 non-null   object
 6   owner          7747 non-null   object
 7   seats          7747 non-null   float64
 8   mileage_kmpl   7747 non-null   float64
 9   engine_CC      7747 non-null   float64
 10  max_power_bhp  7746 non-null   float64
dtypes: float64(4), int64(3), object(4)
memory usage: 726.3+ KB

In [130]:
df1= pd.get_dummies(data = df , columns = ["fuel", "seller_type", "transmission","owner"], drop_first = True)
df1.sample(5)

,year,selling_price,km_driven,seats,mileage_kmpl,engine_CC,max_power_bhp,fuel_Diesel,fuel_Petrol,seller_type_Individual,seller_type_Trustmark Dealer,transmission_Manual,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
3994,15,100000,66530,5.0,18.90,1061.0,67.00,0,1,1,0,1,1,0,0
704,8,590000,40000,7.0,18.49,1493.0,100.00,1,0,1,0,1,1,0,0
5192,7,580000,152000,5.0,21.19,1396.0,88.73,1,0,1,0,1,0,0,0
2269,6,420000,30000,5.0,20.51,998.0,67.04,0,1,1,0,1,0,0,0
1509,11,185000,60000,5.0,19.70,796.0,46.30,0,1,1,0,1,1,0,0

In [159]:
from sklearn.preprocessing import MinMaxScaler

In [160]:
scaler = MinMaxScaler()

In [161]:
df1["year"] = scaler.fit_transform(df1[["year"]])
df1["seats"] = scaler.fit_transform(df1[["seats"]])
df1["km_driven"] = scaler.fit_transform(df1[["km_driven"]])
df1["mileage_kmpl"] = scaler.fit_transform(df1[["mileage_kmpl"]])
df1["engine_CC"] = scaler.fit_transform(df1[["engine_CC"]])
df1["max_power_bhp"] = scaler.fit_transform(df1[["max_power_bhp"]])
df1["selling_price"] = scaler.fit_transform(df1[["selling_price"]])
df1.sample(5)

,year,selling_price,km_driven,seats,mileage_kmpl,engine_CC,max_power_bhp,fuel_Diesel,fuel_Petrol,seller_type_Individual,seller_type_Trustmark Dealer,transmission_Manual,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
2243,0.346154,0.027081,0.058064,0.250000,0.404762,0.192282,0.128540,0,1,1,0,1,0,0,1
2060,0.230769,0.038215,0.037721,0.250000,0.505000,0.293289,0.191721,1,0,1,0,0,1,0,0
1368,0.115385,0.072217,0.021738,0.250000,0.597619,0.209396,0.151688,1,0,0,0,1,0,0,0
4796,0.153846,0.149950,0.017446,0.416667,0.270476,0.715101,0.377723,1,0,0,0,0,1,0,0
6606,0.115385,0.064694,0.010172,0.250000,0.416667,0.192953,0.152233,0,1,1,0,1,1,0,0

In [162]:
X = df1.drop("selling_price" , axis = 1)
y = df1.selling_price

In [163]:
from sklearn.model_selection import train_test_split

In [164]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [165]:
X_train.shape

(6196, 14)

In [166]:
X_test.shape

(1550, 14)

In [167]:
from sklearn.linear_model import LinearRegression

In [168]:
model = LinearRegression()

In [169]:
model.fit(X_train,y_train)

LinearRegression()

In [170]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1550 entries, 1816 to 7577
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   year                          1550 non-null   float64
 1   km_driven                     1550 non-null   float64
 2   seats                         1550 non-null   float64
 3   mileage_kmpl                  1550 non-null   float64
 4   engine_CC                     1550 non-null   float64
 5   max_power_bhp                 1550 non-null   float64
 6   fuel_Diesel                   1550 non-null   uint8
 7   fuel_Petrol                   1550 non-null   uint8
 8   seller_type_Individual        1550 non-null   uint8
 9   seller_type_Trustmark Dealer  1550 non-null   uint8
 10  transmission_Manual           1550 non-null   uint8
 11  owner_Second Owner            1550 non-null   uint8
 12  owner_Test Drive Car          1550 non-null   uint8
 13  owner_Third Owner             1550 non-null   uint8
dtypes: float64(6), uint8(8)
memory usage: 96.9 KB

In [171]:
model.score(X_test , y_test)

0.6684089573890107

In [172]:
model.predict(X_test)

array([0.20767378, 0.02372567, 0.06239936, ..., 0.2408968 , 0.08386755,
       0.04503834])

In [149]:
df1.is()null().sum

year                            0
selling_price                   0
km_driven                       0
seats                           0
mileage_kmpl                    0
engine_CC                       0
max_power_bhp                   1
fuel_Diesel                     0
fuel_Petrol                     0
seller_type_Individual          0
seller_type_Trustmark Dealer    0
transmission_Manual             0
owner_Second Owner              0
owner_Test Drive Car            0
owner_Third Owner               0
dtype: int64

In [155]:
df1 = df1[~df1.max_power_bhp.isnull()]
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7746 entries, 0 to 8127
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   year                          7746 non-null   float64
 1   selling_price                 7746 non-null   float64
 2   km_driven                     7746 non-null   float64
 3   seats                         7746 non-null   float64
 4   mileage_kmpl                  7746 non-null   float64
 5   engine_CC                     7746 non-null   float64
 6   max_power_bhp                 7746 non-null   float64
 7   fuel_Diesel                   7746 non-null   uint8
 8   fuel_Petrol                   7746 non-null   uint8
 9   seller_type_Individual        7746 non-null   uint8
 10  seller_type_Trustmark Dealer  7746 non-null   uint8
 11  transmission_Manual           7746 non-null   uint8
 12  owner_Second Owner            7746 non-null   uint8
 13  owner_Test Drive Car          7746 non-null   uint8
 14  owner_Third Owner             7746 non-null   uint8
dtypes: float64(7), uint8(8)
memory usage: 544.6 KB

In [158]:
df1.isnull().sum()

year                            0
selling_price                   0
km_driven                       0
seats                           0
mileage_kmpl                    0
engine_CC                       0
max_power_bhp                   0
fuel_Diesel                     0
fuel_Petrol                     0
seller_type_Individual          0
seller_type_Trustmark Dealer    0
transmission_Manual             0
owner_Second Owner              0
owner_Test Drive Car            0
owner_Third Owner               0
dtype: int64